.bloc-container{
    .side-left{
        position: fixed;
        width: 233px;
        height: 100vh;
        background-color: $color_left;
        top: 0;
        left: 0;
        @include responsive(700px){
            width: 160px;
        }
    }
    
    .side-left img{
        width: 180px;
        height: 180px;
        border-radius: 120px;
        margin-left: 25px;
        margin-top: 15px;
        @include responsive(700px){
            width: 120px;
            height: 120px;
        }
    }

    .side-left hr{
        width: 130px;
        height: 3px;
        background-color: brown;
    }

    .side-left ul{
        list-style-type: none;
    }
    
    .side-left ul li{
        padding: 25px;
        @include responsive(700px){
            margin-left: -30px;
        }
    }
    
    .side-left ul li a{
        text-decoration: none;
        color: black;
    }

    .fa-facebook {
        color: $fb_color;
        font-size: 30px;
    }
    
    .fa-linkedin {
        color: $linkedin_color;
        font-size: 30px;
    }
    
    .fa-twitter {
        color: $twitter_color;
        font-size: 30px;
    }
    
    .lienssocial{
        margin-top: 1rem;
        margin-left: 25%;
    }

    .side-right{
        width: $val3;
        margin-left: 224px;
        @include responsive(700px){
            margin-left: 150px;
        }
    }
    
    .info{
        padding: 12px 30px;
    }
    
    .side-right hr{
        margin-left: 30px;
        @include responsive(700px){
            width: 200px;
        }
        @include responsive(710px){
            width: 520px;
        }
        @include responsive(900px){
            width: 1000px;
        }
        @include responsive(400px){
            width: 155px;
        }
    }
}